
obj/Debug/ChessQueens.pdb
obj/Debug/ChessQueens.exe
obj/Debug/ChessQueens.csprojAssemblyReference.cache
obj/Debug/ChessQueens.csproj.FileListAbsolute.txt
bin/Debug/ChessQueens.pdb
bin/Debug/ChessQueens.exe.config
bin/Debug/ChessQueens.exe
.vs/ChessQueens/v16/Server/sqlite3/storage.ide-wal
.vs/ChessQueens/v16/Server/sqlite3/storage.ide-shm
.vs/ChessQueens/v16/Server/sqlite3/storage.ide
.vs/ChessQueens/v16/Server/sqlite3/db.lock
.vs/ChessQueens/v16/.suo
